captum==0.2.0
cycler==0.10.0
decorator==4.4.2
decord==0.4.0
future==0.18.2
imageio==2.8.0
joblib==0.16.0
kiwisolver==1.2.0
matplotlib==3.2.1
networkx==2.4
numpy==1.18.5
opencv-python==4.2.0.34
pandas==1.0.4
Pillow==7.1.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
scikit-image==0.17.2
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
threadpoolctl==2.1.0
tifffile==2020.6.3
torch==1.6.0
torchsummary==1.5.1
torchvision==0.7.0
tqdm==4.48.2
